<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Cheerful Scraping News</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="https://github.com/Akashaj86/Cheerful-Scraping-week-18" target="_blank">Git Repo</a></li>
        </ul>
    </div>
</nav>